<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>userApp documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	   <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="../styles/dark.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">userApp documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li
  >
  ProfilePage</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#templateData" role="tab" id="templateData-tab" data-toggle="tab" data-link="template">Template</a>
        </li>
        <li >
            <a href="#styleData" role="tab" id="styleData-tab" data-toggle="tab" data-link="style">Styles</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/profile/profile.page.ts</code>
</p>


    <p class="comment">
        <h3>Description</h3>
    </p>
    <p class="comment">
        <p>Profile page</p>

    </p>


    <p class="comment">
        <h3>Implements</h3>
    </p>
    <p class="comment">
                    <code><a href="https://angular.io/api/core/OnInit" target="_blank" >OnInit</a></code>
    </p>


<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover metadata">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>app-profile</code></td>
            </tr>

            <tr>
                <td class="col-md-3">styleUrls</td>
                <td class="col-md-9"><code>./profile.page.scss</code></td>
            </tr>



            <tr>
                <td class="col-md-3">templateUrl</td>
                <td class="col-md-9"><code>./profile.page.html</code></td>
            </tr>








        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>
                <tr>
                    <td class="col-md-4">
                        <h6><b>Properties</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#user" >user</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Methods</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                    <span class="modifier">Async</span>
                                <a href="#ngOnInit" >ngOnInit</a>
                            </li>
                            <li>
                                    <span class="modifier">Async</span>
                                <a href="#showPrivacyModal" >showPrivacyModal</a>
                            </li>
                            <li>
                                    <span class="modifier">Async</span>
                                <a href="#showTutorialModal" >showTutorialModal</a>
                            </li>
                            <li>
                                <a href="#signOut" >signOut</a>
                            </li>
                        </ul>
                    </td>
                </tr>





        </tbody>
    </table>
</section>

    <section>
    <h3 id="constructor">Constructor</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
<code>constructor(firebase: <a href="../injectables/FirebaseService.html" target="_self">FirebaseService</a>, modalController: ModalController, router: <a href="https://angular.io/api/router/Router" target="_blank">Router</a>, authService: <a href="../injectables/AuthService.html" target="_self">AuthService</a>)</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="19" class="link-to-prism">src/app/profile/profile.page.ts:19</a></div>
                            </td>
                        </tr>

                <tr>
                    <td class="col-md-4">
                            <div>
                                    <b>Parameters :</b>
                                    <table class="params">
                                        <thead>
                                            <tr>
                                                <td>Name</td>
                                                    <td>Type</td>
                                                <td>Optional</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td>firebase</td>
                                                  
                                                        <td>
                                                                        <code><a href="../injectables/FirebaseService.html" target="_self" >FirebaseService</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>modalController</td>
                                                  
                                                        <td>
                                                                    <code>ModalController</code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>router</td>
                                                  
                                                        <td>
                                                                        <code><a href="https://angular.io/api/router/Router" target="_blank" >Router</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>authService</td>
                                                  
                                                        <td>
                                                                        <code><a href="../injectables/AuthService.html" target="_self" >AuthService</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                        </tbody>
                                    </table>
                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
</section>





    <section>
    
    <h3 id="methods">
        Methods
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="ngOnInit"></a>
                    <span class="name">
                        <span class="modifier">Async</span>
                        <span ><b>ngOnInit</b></span>
                        <a href="#ngOnInit"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                    <span class="modifier-icon icon ion-ios-reset"></span>
                    <code>ngOnInit()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="32"
                            class="link-to-prism">src/app/profile/profile.page.ts:32</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-description"><p>Retrieves the current user on init</p>
</div>

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >any</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="showPrivacyModal"></a>
                    <span class="name">
                        <span class="modifier">Async</span>
                        <span ><b>showPrivacyModal</b></span>
                        <a href="#showPrivacyModal"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                    <span class="modifier-icon icon ion-ios-reset"></span>
                    <code>showPrivacyModal()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="42"
                            class="link-to-prism">src/app/profile/profile.page.ts:42</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >any</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="showTutorialModal"></a>
                    <span class="name">
                        <span class="modifier">Async</span>
                        <span ><b>showTutorialModal</b></span>
                        <a href="#showTutorialModal"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                    <span class="modifier-icon icon ion-ios-reset"></span>
                    <code>showTutorialModal()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="58"
                            class="link-to-prism">src/app/profile/profile.page.ts:58</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >any</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="signOut"></a>
                    <span class="name">
                        <span ><b>signOut</b></span>
                        <a href="#signOut"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>signOut()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="37"
                            class="link-to-prism">src/app/profile/profile.page.ts:37</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
    <section>
    
    <h3 id="inputs">
        Properties
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="user"></a>
                    <span class="name">
                        <span ><b>user</b></span>
                        <a href="#user"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>

                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="19" class="link-to-prism">src/app/profile/profile.page.ts:19</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
</section>

</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { Component, OnInit } from &#x27;@angular/core&#x27;;
import { FirebaseService } from &#x27;../services/firebase.service&#x27;;
import { User } from &#x27;../../../../globalModels/user&#x27;;
import { ModalController } from &#x27;@ionic/angular&#x27;;
import { PrivacyModalComponent } from &#x27;../privacy-modal/privacy-modal.component&#x27;;
import { TutorialModalComponent } from &#x27;../tutorial-modal/tutorial-modal.component&#x27;;
import { Router } from &#x27;@angular/router&#x27;;
import { AuthService } from &#x27;../services/auth.service&#x27;;

/**
 * Profile page
 */
@Component({
  selector: &#x27;app-profile&#x27;,
  templateUrl: &#x27;./profile.page.html&#x27;,
  styleUrls: [&#x27;./profile.page.scss&#x27;],
})
export class ProfilePage implements OnInit {
  user: string
  constructor(
    private firebase: FirebaseService,
    private modalController: ModalController,
    private router: Router,
    private authService: AuthService
  ) { 
    this.user &#x3D;  &quot;&quot;
  }

  /**
   * Retrieves the current user on init
   */
  async ngOnInit() {
    let userobj &#x3D; await this.authService.getCurrentUser()
    this.user &#x3D; userobj.email
  }

  signOut() {
    this.authService.signOut()
    this.router.navigateByUrl(&quot;login&quot;)
  }

  async showPrivacyModal() {
    const modal &#x3D; await this.modalController.create(
      {
        component: PrivacyModalComponent,
        cssClass: &quot;modal&quot;,
        backdropDismiss: false,
      }
    )

    modal.onDidDismiss().then(() &#x3D;&gt; {
      console.log(&quot;dismissed&quot;)
    })

    await modal.present()
  }

  async showTutorialModal(){
    const modal &#x3D; await this.modalController.create(
      {
        component: TutorialModalComponent,
        cssClass: &quot;modal&quot;,
        backdropDismiss: false
      }
    )

    modal.onDidDismiss().then(() &#x3D;&gt; {
      console.log(&quot;dismissed&quot;)
    })

    await modal.present()
  }
}
</code></pre>
    </div>

    <div class="tab-pane fade " id="c-templateData">
        <pre class="line-numbers"><code class="language-html">&lt;ion-header&gt;
  &lt;ion-toolbar&gt;
    &lt;ion-title&gt;Profile&lt;/ion-title&gt;
    &lt;ion-back-button slot&#x3D;&quot;start&quot;&gt;&lt;/ion-back-button&gt;
    &lt;ion-button slot&#x3D;&quot;end&quot; fill&#x3D;&quot;clear&quot; (click)&#x3D;&quot;signOut()&quot;&gt;
      Sign Out
    &lt;/ion-button&gt;
  &lt;/ion-toolbar&gt;
&lt;/ion-header&gt;

&lt;ion-content [fullscreen]&#x3D;&quot;true&quot;&gt;
  &lt;div class&#x3D;&quot;container&quot;&gt;
    &lt;ion-icon name&#x3D;&quot;person-circle-outline&quot; class&#x3D;&quot;profile&quot;&gt;&lt;/ion-icon&gt;
    &lt;h2&gt;Your Information:&lt;/h2&gt;
    &lt;h4&gt;Email:{{user}}&lt;/h4&gt;
    &lt;ion-button (click)&#x3D;&quot;showTutorialModal()&quot;&gt;Tutorial Sliders&lt;/ion-button&gt;&lt;br&gt;
    &lt;ion-button (click)&#x3D;&quot;showPrivacyModal()&quot;&gt;Privacy Policy&lt;/ion-button&gt;
  &lt;/div&gt;
&lt;/ion-content&gt;
&lt;ion-footer&gt;
  &lt;ion-toolbar&gt;
    &lt;p style&#x3D;&quot;text-align: center&quot;&gt;App Version: 0.0.1&lt;/p&gt;
  &lt;/ion-toolbar&gt;
&lt;/ion-footer&gt;</code></pre>
    </div>

    <div class="tab-pane fade " id="c-styleData">
                <p class="comment">
                    <code>./profile.page.scss</code>
                </p>
                <pre class="line-numbers"><code class="language-scss">.container {
    text-align: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    // top: 50%;
    // transform: translateY(-50%);
  }

  
.profile{
    width: 10rem;
    height: 10rem;
}</code></pre>
    </div>

    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><ion-header>  <ion-toolbar>    <ion-title>Profile</ion-title>    <ion-back-button slot="start"></ion-back-button>    <ion-button slot="end" fill="clear" (click)="signOut()">      Sign Out    </ion-button>  </ion-toolbar></ion-header><ion-content [fullscreen]="true">  <div class="container">    <ion-icon name="person-circle-outline" class="profile"></ion-icon>    <h2>Your Information:</h2>    <h4>Email:{{user}}</h4>    <ion-button (click)="showTutorialModal()">Tutorial Sliders</ion-button><br>    <ion-button (click)="showPrivacyModal()">Privacy Policy</ion-button>  </div></ion-content><ion-footer>  <ion-toolbar>    <p style="text-align: center">App Version: 0.0.1</p>  </ion-toolbar></ion-footer></div>'
    var COMPONENTS = [{'name': 'AppComponent', 'selector': 'app-root'},{'name': 'ForgotPasswordPage', 'selector': 'app-forgot-password'},{'name': 'HomePage', 'selector': 'app-home'},{'name': 'LoginPage', 'selector': 'app-login'},{'name': 'OrderConfirmPage', 'selector': 'app-order-confirm'},{'name': 'OrderDetailPage', 'selector': 'app-order-detail'},{'name': 'OrderModalComponent', 'selector': 'app-order-modal'},{'name': 'OrderPage', 'selector': 'app-order'},{'name': 'PrivacyModalComponent', 'selector': 'app-privacy-modal'},{'name': 'ProfilePage', 'selector': 'app-profile'},{'name': 'SignupPage', 'selector': 'app-signup'},{'name': 'TutorialModalComponent', 'selector': 'app-tutorial-modal'}];
    var DIRECTIVES = [];
    var ACTUAL_COMPONENT = {'name': 'ProfilePage'};
</script>
<script src="../js/tree.js"></script>

















                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> results matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

          <label class="dark-mode-switch">
               <input type="checkbox">
               <span class="slider">
                    <svg class="slider-icon" viewBox="0 0 24 24" fill="none" height="20" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="20" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
                    </svg>
               </span>
          </label>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'ProfilePage.html';
            var MAX_SEARCH_RESULTS = 15;
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>

       <script src="../js/menu-wc.js" defer></script>
       <script nomodule src="../js/menu-wc_es5.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
